.comment {
 color: black;
 size: 10pt;
}

.arrow2 {
    border: solid #828282;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
	transform: rotate(225deg);
    margin-right: 7px;
    margin-left: 3px;
    margin-top: 5px;

}

.boxhead{
    text-decoration: none;
}


.reply {
    text-decoration: none;
    color: #828282;
    font-size: 8pt;
    margin-left: 10px;
}

.replyTable {
    margin-left: 75px;
}